ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:rgb(40,62,74);
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    font-size: 50px;
    padding: 14px 16px;
    text-decoration: none;
    border: 1px solid white;
    border-top-color: rgb(40,62,74);
    border-bottom-color: rgb(40,62,74);

}

li a:hover {
    background-color: #111;
    color: white;
}


#nearbyContainer{
    border: 5px solid red;
    height: 500px;
    margin-top: 20px;
}

#requestsContainer{
    border: 5px solid blue;
    height: 500px;
    margin-top: 20px;
    display: none;
}
